.main_header {

    background-color: #657153;
    color: #99C24D;
    font-family: calibri;
    padding: 0.3rem;

}

.main_footer {

    font-family: calibri;
    background-color: #5B618A;
    color: #9EADC8;
    padding: 1rem;
}

.section_footer {

    font-family: calibri;
    color: #9EADC8;
    padding: 1rem;
    border-top: 3px solid;
}

.importante {

    font-weight: bold;
}

body {
    background-color: #BEEF9E
}