@font-face {
    font-family: "rubikregular";
    src: url('./assets/rubik-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}
body {font-family: "rubikregular"}