@font-face {
    font-family: 'rubikregular';
    src: url('../assets/rubik-regular-webfont.woff2') format('woff2'),
         url('../assets/rubik-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



body {font-family: 'Quicksand', sans-serif;
    background-image: linear-gradient(antiquewhite, rgb(223, 155, 140)) }

h1 {
    font-family: "rubikregular";
    text-align: center;
    padding: 1rem;
        }

.content_wrapper {font-size: 1.1em}

p {
    border:2px solid #6A2E35;
    padding: 1em}

    section.centrada {

        width: 83.8%;
        margin-left: auto;
        margin-right: auto;
    }

    .margenes {display: flex}