
body {
    margin: 0;
}

header{
    min-height: 100vh;
    display: flex;
    align-items: center; /* vertical */
    justify-content: center; /* horizontal */
    background-image: url(../assets/microsoft.jpg);
    background-color: rgb(34, 131, 118);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
}

h1 {
    color: wheat
}

h1 span {
    /* display: none */
    color:#00000000
}

.content_wrapper {
    background-image: url(../assets/Husky_1024.png);
    background-repeat: no-repeat;
    background-size: unset;
    background-attachment: fixed;
    margin-left: 4rem;
    margin-right: 4rem;
}

.main_footer {

    font-family: calibri;
    background-color: #197278;
    color: white;
    padding: 1rem;
    text-align: center;
}