h1, p {
            
    /* display: inline; */
    font-family: Calibri;
    font-weight: bolder;
    }

h1 {text-align: center;}

 body {

    background-color: antiquewhite
 }
strong {
        /* display: block; */
        color: blue;
    }
    img{
        display:block;
        margin:auto;
        }
#principal {

    font-style: oblique;
    color: brown;
}
.destacado {

    font-style: italic;
    color: green;
}