/* Esto es un comentario de CSS */

//Esto es un comentario de SASS

$color-principal: bisque;
$color-back:brown;
$margen-base:1rem;


 body {
     margin: 0;
     .main-header {
         background-color: $color-back;
        color:$color-principal ;
        display: flex;
        justify-content: center;
        text-align:center;
    }

body {
    margin: 0;
    display : grid;
    grid-template-rows: 2fr auto 1fr;
}
  
        
        h1 {
            margin-bottom: 0;
            margin-top: 0;
            padding-top: 0;
            padding-bottom: 2rem;


        }
    }
 section.intro {
    margin:2.6rem;
    header {
        @include colores_invertidos();
}

section.samples {
    margin:2.6rem;
    min-height: 0;
    min-height: 60vh;
    @include colores_invertidos();


.main, main {
    background-color: $color-back;
    color: $color-principal;
    display: flex;

}

.main-header {
            background-color: darken($color: $color-principal, $amount: 2);
        color:lighten($color: $color-back, $amount: 20)}
}
footer {
    background-color: $color-back;
        color: $color-principal;
        display: flex;
        justify-content: center;
        text-align:center
}

@import './parrafo.scss';

.main-footer {
    @extend .main;
    justify-content: center;
    text-align: center;
    h1 {}
}

@mixin sin_mavert {
    margin-top:0;
    margin-bottom: 0;
}

@mixin colores_invertidos ($oscuro: 20, $claro: 20) {
    background-color: darken($color: $color-principal, $amount: $oscuro);
        color:lighten($color: $color-back, $amount: $claro)
} }