body {

    font-family: Verdana;
    background-image: linear-gradient(antiquewhite, rgb(223, 155, 140));
    margin: 0;
}


/* MAIN HEADER */

.main_header {
    background-color: #EC7357;
    color: white;
    font-family: calibri;
    padding: 0.8rem 0rem 0.5rem 2rem;
    text-align: center;
}

.main_header p {
font-size: 1.33rem;
margin-top: -1rem;
margin-bottom: 0;

}

.main_header nav a{

  color: inherit;
  text-decoration: none;
  display: block;
  padding: 1rem;
}

.main_header nav ul{

    list-style-type: none;
    margin: 0;
    padding: 0;
}


.main_header nav li{

    display: inline-block;
    
}

.main_header strong {
    font-weight: normal;
}

.main_footer {

    font-family: calibri;
    background-color: #6A2E35;
    color: white;
    padding: 1rem;
    text-align: center;
}

.content_wrapper { margin: 1rem 3rem}

img {
    max-width: 100%;
    /* display: inline-block */
}

/* IMAGEN */

.seccion_imagenes img {

    max-width: 25%;
    display:block;
    float: left;
    background-color: #EC7357
}

.image_wrapper {
    text-align: center
}


.imagen_wrapper_25{
    width: 25%
}
.imagen_wrapper_50{
    width: 50%
}
.imagen_wrapper_75{
    width: 75%
}

.fija_300 {}

blockquote {

    margin-left: 0;
    margin-right: 0;
    font-style: italic;
    padding-left: 1rem;
    border-left: 4px solid rgb(170, 21, 21);
}

blockquote footer {
    width: fit-content;
    margin-top: 0.5rem;
    border-top: 1px solid #6A2E35;
    padding-top: 0.3rem;
}
/* ol {list-style-type: disc } */

ul { list-style-type: decimal }

.clearfix {clear: both;}

dt{
    float: left;
    clear: left;
}
dd {
        float: left;
        clear: right;
    }

    footer a {
        color: #EC7357
    }

    .main_footer p {
margin-bottom: 0;

    }

    .verde {

        color: greenyellow;
        font-weight: bold;
        text-decoration: underline;
        text-decoration: line-through;
    }
    
.web_externa {
    width: 100%;
height: 60vh
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
.embed-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
video {
    max-width: 100%;
}