/***************** Ejercicio 8 ****************/

/* * {border: inherit} */

/***************** Estios del header ****************/

body>header {
    background-color: brown;
    color: bisque;
    padding-bottom: 2rem;
    padding-top: 2rem; 
    padding-left: 5rem;
    font-family: 'Righteous', cursive;
    text-align: center
}

body>header h1 {

        margin-top: 0;
        margin-bottom: 0;
        

    }
    body>header p {

        margin-top: 0;
        margin-bottom: 0;
        font-size: 1.5rem

    }
    body {font-family: Verdana, Geneva, Tahoma, sans-serif}

    h2 {font-family: 'Righteous', cursive;}

    /* Selector de descendientes (descendent) - simbolo el espacio*/

    .combinadores p {
        background-color: goldenrod
    }
/* Selectores cambinados */

    /* Selector de hijo (child) - simbolo es el >*/

    .combinadores>p {

    background-color: aquamarine}

    /* Selector de hermanos (sibilings) - el simbolo es la ~*/

.combinadores div~p {
    background-color: palevioletred
}

    /* Selector de hermanos adyacentes (adyacent sibilings) - el simbolo es la + */

    .combinadores div+p {
        background-color: green
    }

    /*************************************** Estilos de la seccion .atributos ****************************************/
    
    /* Selectores de atributos - simbolo [] */

    [Title] {color: red}

    /* Atributo igual a ... */

    [Title="Extra"] {color: blue}

    /* Atributo empieza por ... */

    [Title^="Parrafo"] {color: green}

    /* Atributo contiene ... */

    [Title*="Par"] {color: purple}

   .atributos /* Atributo termina por ... */

    [Title$="2"] {color: hotpink}


/*************************************** Estilos de la seccion .pseudo-elementos y .numerados .comillas
****************************************/

.pseudo_elementos p::first-letter {

    font-size: 3rem;
    font-family: fantasy;
    color: blue
}

.pseudo_elementos p::first-line {

    font-style: italic;
    font-weight: bold;
}
.pseudo_elementos .medio,
 {
    color: brown
}

.pseudo_elementos .medio-pro::before,
.pseudo_elementos .medio-pro::after {

    content: url(../../favicon.ico)url(../../favicon.ico)url(../../favicon.ico)url(../../favicon.ico)"FANTASIA"url(../../favicon.ico)url(../../favicon.ico)url(../../favicon.ico)url(../../favicon.ico);
    display: block;
    background-color: bisque;
    /* width: 100%; */
    padding: 1rem;
    margin-top: 0.5rem;
    text-align: center
}

.banda {
content: "";
    display: block;
    background-color: bisque;
    color: brown;
    padding: 1rem;
}

body {counter-reset: parrafos;}

.numerados p::before {
 counter-increment: parrafos;
 content: counter(parrafos, armenian) " - ";
 font-weight: bold;
 list-style-type: 

}

.comillas {quotes: "\00AB" "\00BB"}

.comillas p::before{

    content: open-quote;
    
}
.comillas p::after{

    content: close-quote;
}

/*************************************** Estilos de la seccion .pseudo-clases
****************************************/

.pseudo_clases header h2 {margin-bottom: 0.2rem}

.pseudo_clases header {
    background-color: bisque;
    padding-bottom: 1rem
}

.pseudo_clases header:hover {background-color: burlywood}

.pseudo_clases header p {display: none}

.pseudo_clases header:hover p {display: initial}

.pseudo_clases a:visited { color:red}


    .pseudo_numericas>p:nth-child(2) {text-decoration: underline}
    .pseudo_numericas p:nth-of-type(2) {font-style: italic}

   /*  2n = even */
    .pseudo_numericas li:nth-of-type(3n) {background-color: lightcoral}
    .pseudo_numericas li:nth-of-type(3n+1) {background-color: burlywood}
    .pseudo_numericas li:nth-of-type(3n+2) {background-color: chocolate}

    .pseudo_numericas li {
        width: 5rem;
        font-family: monospace
    }
    /* .pseudo_numericas li:last-of-type {padding-right: 1.5rem} */

    /***************** Estilos del footer ****************/

    footer {

        background-color: brown;
        color: bisque;
        padding-bottom: 1rem;
    padding-top: 1rem; 
    margin-top: 1rem
    }
    footer address {}

    footer p {
        margin-top: 0;
        margin-bottom: 0;
    }
    *:not(h1) {
        font-variant: small-caps
    }
    
