doctype
html(lang=language)
    head
        meta(charset='utf-8')
        title Hola pug
    body
        header
            h1 Hola Pub
        section
            p.
                Lorem ipsum <strong>dolor</strong> sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            p Lorem ipsum
            b dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        footer
            address #{autor}