* {margin:0}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: aquamarine

}

header {

    /* border: black 1px solid; */
    padding: 2rem;
    background-color: palevioletred;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

main {
    margin: 1rem;
}

h2 {
    margin-bottom: 1rem
}

.amazon {
    margin: 1rem;
    cursor: pointer;
    padding: 1rem;
    border: inherit;
    background-color: white;
    color: blueviolet;
    font-size: 18px;
    font-weight: bold;
}