main {
    margin 5%
}


img {
    max-width: 100%;
}

.img_wrapper_left {

    width: 50%;
    float: left;
    padding-right: 1rem;
    padding:
}

.img_wrapper_right {

    width: 50%;
    float: right;
    padding-right: 1rem;
    padding:
}

section.reptiles:after{
    content: '';
    display: block;
    clear: both;
}
